<!--partials fora da view-->
<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Add category</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/categories/save">
        <input class="form-control" type="text" name="title" placeholder="Category type"><br>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
<%- include ('../../partials/footer.ejs') %>
